* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand';
  font-size: 22px;
  overflow: hidden;
}

#todo-list {
  max-height: 60vh;
  overflow-y: auto;
  padding-bottom: 10vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: linear-gradient(to bottom, #4e54c8, #8f94fb);
}

::-webkit-scrollbar-thumb:hover {
  background: #ff9797;
}

.todo-app {
  width: 100vw;
  height: 100vh;
  background-image: url("./img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem;
}

.todo-app ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.todo-app ol li {
  max-width: 500px;
  padding: 10px 10px;
  margin: 10px 0;
  border: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.todo-app ol li div {
  min-width: 75px;
  padding-left: 5px;
}

.todo-app ol li button {
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.todo-app ol li button:hover i {
  color: orange;
}

.todo-title {
  margin: 0;
  background: -webkit-linear-gradient(#d22e61, #18b1d1, #ffea00, #1185ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.todo-item {
  margin: 0;
  color: #fff;
}

.todo-input {
  padding: 10px 20px;
  text-align: center;
  max-width: 247px;
}

.todo-complete-all {
  padding: 10px 20px;
  width: 247px;
  color: #fff;
  background-color: orange;
  cursor: pointer;
  font-weight: bold;
}

.todo-complete-all:hover {
  color: #000;
  background-color: #fff;
}

.todo-done {
  text-decoration-line: line-through;
  text-decoration-color: yellow;
}

.todo-done button {
  text-decoration-line: none;
  background-color: #fff;
  color: #afafaf;
}

@media only screen and (max-width: 670px) {
  .todo-app {
    padding-left: 10px;
    padding-right: 10px;
  }
  .todo-item {
    max-width: 100% !important;
  }
  .todo-input, .todo-complete-all {
    max-width: 100%;
    width: 100%;
  }
}
